<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <!-- Ajustar el Server según la instancia local de SQL Server -->
        <add name="dbventas"
             connectionString="Server=localhost;Database=dbventas;Integrated Security=True;"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
